<div class="box">
	<div class="box-header">
		<i class="fa fa-folder"></i>
		<h3 class="box-title">Files</h3>
	</div>
	<div id="repo_table" class="box-body table-responsive">
		<table class="table table-bordered text-center">
			<tr>
				<th width="20px">#</th>
				<th width="30%">Preview</th>
				<th width="20%">Filename</th>
				<th width="30%">Link</th>
				<th></th>
			</tr>
			<tr>
				<% for(let i=0; i < uploads.length; i++){ %>
					<%- include('./list-elm.ejs', {
							num: i+1,
							fileId: uploads[i].id,
							filename: uploads[i].filename,
							fileURL: uploads[i].fileURL
						}); %>
				<% } %>
			</tr>
		</table>
	</div>
</div>