<tr>
	<td><%= num %></td>
	<td><img src="<%= fileURL %>" style="max-width: 100%; max-height: 100px;"></td>
	<td id="filename-<%= fileId %>"><%= filename %></td>
	<td id="link-<%= fileId %>"><%= fileURL %></td>
	<td>
		<button id="file-<%= fileId %>" class="copy-btn btn btn-primary"
			style="margin-bottom: 5px" data-toggle="tooltip" title="Copy Link">
			Copy Link
		</button>
		<button id="file-<%= fileId %>" class="delete-btn btn btn-danger" style="margin-bottom: 5px;">
			Delete
		</button>
	</td>
</tr>