<div class="box">
	<div class="box-header">
		<i class="fa fa-upload"></i>
		<h3 class="box-title">Uploads</h3>
	</div>
	<div class="box-body text-center">
		<input style="display: none; visibility: hidden" type="file" name="file[]" id="file" multiple="multiple" type="image/*">
		<button class="btn btn-success" onclick="javascript: submitUpload();">Upload File(s)</button>
	</div>
</div>