<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/common/head.ejs', {title: 'Dashboard'}) %>
		<style>
			.bg-default {
				background: #fff url('<%= settings['background_box'] %>') no-repeat center !important;
				color: <%= settings['box_fontcolor'] %> !important;
			}
		</style>
	</head>
	<body class="hold-transition skin-red sidebar-mini">
		<div class="wrapper">
			<%- include('partials/common/topbar.ejs') %>
			<%- include('partials/common/sidebar.ejs', {active_id: 'dashboard'}) %>

			<%- include('partials/dashboard/main.ejs') %>

			<%- include('partials/common/footer.ejs') %>
		</div>

		<%- include('partials/common/scripts.ejs') %>
		<%- include('partials/dashboard/scripts.ejs') %>
	</body>
</html>