<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/common/head.ejs', {title: 'Sign in'}) %>
		<link rel="stylesheet" href="/css/style-login.css">
	</head>
	<body>
		<%- include('partials/login/main.ejs') %>
		<%- include('partials/common/scripts.ejs') %>
		<%- include('partials/login/scripts.ejs') %>
	</body>
</html>