<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/common/head.ejs', {title: 'Print'}) %>
	</head>
	<body>
		<%- include('partials/problem_print/main.ejs') %>
	</body>
	<script>
		window.print();
	</script>
</html>