<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/common/head.ejs', {title: 'Profile'}) %>
	</head>
	<body class="hold-transition skin-red sidebar-mini">
		<div class="wrapper">
			<%- include('partials/common/topbar.ejs') %>
			<%- include('partials/common/sidebar.ejs', {active_id: 'profile'}) %>

			<%- include('partials/profile/main.ejs') %>

			<%- include('partials/common/footer.ejs') %>
		</div>

		<%- include('partials/common/scripts.ejs') %>
	</body>
</html>