<!-- Game Settings Panel -->
<div class="box box-warning" id="game-panel">
	<div class="box-header">
		<i class="fa fa-gamepad"></i>
		<h3 class="box-title">Game Settings</h3>
	</div>
	<div class="box-body">
		<div class="form-group">
			<label for="time_limit">Batas Waktu</label>
			<div id="time_limit" class="input-group">
				<div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
				<input id="hours" name="hours" type="number" class="form-control" min="0" max="12" value="<%= Math.floor( settings.time_limit / 3600000 ) %>">
				<div class="input-group-addon"><label>Jam</label></div>
				<input id="minutes" name="minutes" type="number" class="form-control" min="0" max="59" value="<%= Math.floor( ( settings.time_limit % 3600000) / 60000 ) %>">
				<div class="input-group-addon"><label>Menit</label></div>
				<input id="seconds" name="seconds" type="number" class="form-control" min="0" max="59" value="<%= ( settings.time_limit % 60000) / 1000 %>">
				<div class="input-group-addon"><label>Detik</label></div>
			</div>
		</div>
	</div>
</div>
<!-- ./Game Settings Panel -->