<!-- General Panel -->
<div class="box box-primary" id="general-panel">
	<div class="box-header">
		<i class="fa fa-asterisk"></i>
		<h3 class="box-title">General</h3>
	</div>
	<div class="box-body">
		<div class="form-group">
			<label for="general_logo">Logo</label>
			<input id="general_logo" name="logo" type="text" class="form-control" value="<%= settings.logo %>">
			<div class="text-center" style="margin-top: 10px">
				<img id="preview_logo" src="<%= settings.logo %>" style="max-width: 100px; max-height: 100px;">
			</div>
		</div>
		<div class="form-group">
			<label for="general_title">Title</label>
			<input id="general_title" name="title" type="text" class="form-control" value="<%= settings.title %>">
		</div>
		<div class="form-group">
			<label for="general_subtitle">Subtitle</label>
			<input id="general_subtitle" name="subtitle" type="text" class="form-control"  value="<%= settings.subtitle %>">
		</div>
		<div class="form-group">
			<label for="general_background_board">Board Background</label>
			<input name="background_board" id="general_background_board" type="text" class="form-control" value="<%= settings.background_board %>">
			<div class="text-center" style="margin-top: 10px">
				<img id="preview_background_board" src="<%= settings.background_board %>" style="max-width: 100px; max-height: 100px;">
			</div>
		</div>
		<div class="form-group">
			<label for="general_background_box">Grid Background</label>
			<input name="background_box" id="general_background_box" type="text" class="form-control" value="<%= settings.background_box %>">
			<div class="text-center" style="margin-top: 10px">
				<img id="preview_background_box" src="<%= settings.background_box %>" style="max-width: 100px; max-height: 100px;">
			</div>
		</div>
		<div class="form-group">
			<label for="box_fontcolor">Grid Font Color</label>
			<div class="text-center" style="margin-top: 10px">
				<div id="box_fontcolor" data-color="<%= settings.box_fontcolor %>"></div>
			</div>
		</div>
	</div>
</div>
<!-- ./General Panel -->