<!-- Layout Panel -->
<div class="box" id="layout-panel">
	<div class="box-header">
		<i class="fa fa-th"></i>
		<h3 class="box-title">Layout</h3>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="form-group col-lg-6">
				<label for="layout_row">Baris</label>
				<input id="layout_row" name="board_row" type="number" class="form-control" min="2" max="10"  value="<%= settings.board_row %>">
			</div>
			<div class="form-group col-lg-6">
				<label for="layout_column">Kolom</label>
				<input id="layout_column" name="board_column" type="number" class="form-control" min="2" max="10"  value="<%= settings.board_column %>">
			</div>
		</div>
	</div>
</div>
<!-- ./Layout Panel -->