<!-- Scoring Panel -->
<div class="box box-success" id="scoring-panel">
	<div class="box-header">
		<i class="fa fa-trophy"></i>
		<h3 class="box-title">Scoring</h3>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="form-group col-lg-6">
				<label for="score_bonus">Bonus</label>
				<input id="score_bonus" name="score_bonus" type="number" class="form-control" min="-1000" max="1000" value="<%= settings.score_bonus %>">
			</div>
			<div class="form-group col-lg-6">
				<label for="score_zonk">Zonk</label>
				<input id="score_zonk" name="score_zonk" type="number" class="form-control" min="-1000" max="1000" value="<%= settings.score_zonk %>">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-6">
				<label for="score_correct">Benar</label>
				<input id="score_correct" name="score_correct" type="number" class="form-control" min="-1000" max="1000" value="<%= settings.score_correct %>">
			</div>
			<div class="form-group col-lg-6">
				<label for="score_wrong">Salah</label>
				<input id="score_wrong" name="score_wrong" type="number" class="form-control" min="-1000" max="1000"  value="<%= settings.score_wrong %>">
			</div>
		</div>
	</div>
</div>
<!-- ./Scoring Panel -->