<!-- Team Panel -->
<div class="box box-danger" id="team-panel">
	<div class="box-header">
		<i class="fa fa-users"></i>
		<h3 class="box-title">Team</h3>
	</div>
	<div class="box-body">
		<div class="form-group">
			<label for="team_number">Banyak Tim</label>
			<input id="team_number" name="team_number" type="number" class="form-control" min="2" max="10" value="<%= settings.team_number %>">
		</div>
		<div class="form-group">
			<label>Daftar Tim</label>
			<input name="team_order" id="team_order" class="hidden" type="text" value="<%= settings.team_order %>">
			<div id="team_interact" class="sortable">
				<% var bg = ["bg-blue", "bg-red", "bg-yellow", "bg-green", "bg-purple", "bg-orange"]; %>
				<% var team_order = settings.team_order.split(','); %>
				<% for(let i = 0; i < team_order.length; i++){ %>
				<% var idx = parseInt(team_order[i]) - 1; %>
					<div class="team-box" id="<%= team_order[i] %>">
						<div class="team-box-icon"><%= String.fromCharCode(65 + idx) %></div>
						<div class="team-box-content">
							<a id="edit_icon" href="javascript: editTeam(<%= team_order[i] %>);" class="team-box-tool"><i class="fa fa-edit"></i></a>
							<a id="close_icon" href="javascript: closeEditTeam(<%= team_order[i] %>);" class="team-box-tool" hidden><i class="fa fa-times"></i></a>
							<input value="<%= teams[idx].id %>" id="team_id-<%= team_order[i] %>" hidden>
							<input value="<%= teams[idx].name %>" id="team_name-<%= team_order[i] %>" class="team-box-title" type="text" readonly>
							<input value="<%= teams[idx].school %>" id="team_school-<%= team_order[i] %>" class="team-box-subtitle" type="text" readonly>
						</div>							
					</div>
				<% } %>
			</div>
		</div>
	</div>
</div>
<!-- ./Team Panel -->