<div class="content-wrapper">
		<%- include('../common/content-header.ejs',
			{title: 'Problems', subtitle: 'Add and edit the problems'}) %>

			<!-- Main Content -->
		<section class="content container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Daftar Soal</h3>
						</div>
						<div class="box-body">
							<div style="margin-bottom: 10px;">
								<button id="btnReorder" class="btn btn-primary" onclick="javascript: toggleOrderProblem();"
									style="display: inline-block">
									<i class="fa fa-reorder"></i> &nbsp;&nbsp;Reorder
								</button>
								<button id="btnSaveorder" class="btn btn-success" onclick="javascript: toggleOrderProblem();"
									style="display: none">
									<i class="fa fa-save"></i> &nbsp;&nbsp;Save
								</button>
								<button id="btnShuffle" class="btn btn-warning" onclick="javascript: confirmRandomShuffle();"
									style="display: none">
									<i class="fa fa-refresh"></i> &nbsp;&nbsp;Random shuffle
								</button>
								<a id="btnPrint" class="btn btn-default" href="/admin/problems/print" target="_blank" style="float: right">
									<i class="fa fa-print"></i> &nbsp;&nbsp;Print
								</a>		
							</div>
							
							<input type="text" id="problem_order" hidden value="<%= settings['problem_order'] %>">
 							<div class="box-group" id="problem_interact">
								<% var prob_order = settings['problem_order'].split(','); %>
								<% for(let i = 0;i < problems.length; i++){ %>
								<%-		include('problem-elm.ejs', { prob: problems[prob_order[i]-1], num: prob_order[i] }); %>	
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>