<% var box_type = ["Empty", "Ambil Alih", "Double Poin", "Extra Box", "Sedekah Poin", "Sedekah Box", "Skipped"]; %>
<div class="prob-card" id="<%= num %>">
	<div class="prob-card-title">
		<span class="order-icon"><i class="fa fa-arrows"></i></span>
		<span><strong class="box-number">BOX</strong></span>
		<span class="spoiler-desc">
			<% var desc_spoiler = prob.description.replace(/<img[^>]*>/g, "[image] ") .replace(/<[^>]*>/g, " ") %>
			<%- desc_spoiler %>
		</span>
		<a class="edit-icon" href="/admin/problem/<%= prob.id %>/edit"><i class="fa fa-edit"></i></a>
	</div>
	<div class="prob-card-body">
		<div class="box-info">
			<div>
				<i class="fa fa-cube"></i>
				&nbsp;&nbsp;&nbsp;<%= box_type[prob.type] %>
			</div>
			<div>
				<i class="fa fa-clock-o"></i>
				&nbsp;&nbsp;&nbsp;<%= Math.floor(prob.time_limit / 1000) %> detik
			</div>
		</div>
		<p><%- prob.description %></p>
		<h5><strong>Jawaban:</strong></h5>
		<p><%- prob.answer %></p>
	</div>
</div>