<footer class="main-footer">
	<strong>Copyright &copy; 2019 <a href="https://faishol.net">Muhammad Faishol Amirul Mukminin</a>.</strong> All rights reserved.
</footer>
<div class="control-sidebar-bg"></div>