<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta title="TACCI">
<link rel="icon" type="image/png" href="/img/favicon.png">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<title><%= title %></title>

<!-- Google Font -->
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
      
<!-- Stylesheet -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/AdminLTE.min.css">
<link rel="stylesheet" href="/css/AdminLTE_skins.min.css">
<link rel="stylesheet" href="/css/shape.semantic.min.css">
<link rel="stylesheet" href="/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/filepond.min.css">
<link rel="stylesheet" href="/css/custom.css">
