<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/head.ejs'); %>
	</head>
	<body class="hold-transition skin-red sidebar-mini">
		<div class="wrapper">
			<%- include('partials/topbar.ejs') %>
			<%- include('partials/sidebar.ejs') %>

			<%- include('contents/' + page.id) %>

			<%- include('partials/footer.ejs') %>
		</div>

		<%- include('partials/scripts.ejs') %>
	</body>
</html>