<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/shape.semantic.min.js"></script>
<script src="/js/bootstrap-colorpicker.min.js"></script>
<script src="/js/bootbox.min.js"></script>
<script src="/js/bootstrap-notify.min.js"></script>
<script src="/js/adminlte.min.js"></script>
<script src="/socket.io-client/dist/socket.io.slim.js"></script>
<script src="/js/custom/connect_check.js"></script>