<header class="main-header">
	<!-- Website Logo -->
	<a href="/admin" class="logo">
		<span class="logo-mini"><b>A</b>LT</span>
		<span class="logo-lg"><b>Admin</b>LTE</span>
	</a>

	<!-- Toggle Navigation Button -->
	<nav class="navbar navbar-static-top" role="navigation">
		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>

		<!-- User Account Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="<%= user.image %>" class="user-image" alt="User Image">
						<span class="hidden-xs">
							<%= user.fullname %>
						</span>
						&nbsp; &nbsp; <i class="fa fa-caret-down"></i>
					</a>

					<ul class="dropdown-menu">
						<li class="user-header">
							<img src="<%= user.image %>" class="img-circle" alt="User Image">
							<p><%= user.fullname %></p>
						  </li>
						<li class="user-footer">
							<div class="pull-left">
								<a href="/admin/profile" class="btn btn-default btn-flat">Profile</a>
							</div>
							<div class="pull-right">
								<a href="/process/auth" class="btn btn-default btn-flat">Sign out</a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>