<div class="text-center">
	<h2><%= settings.title %>'s Problemset</h2>
	<h5><%= settings.subtitle %></h6>
</div>
<div style="margin: 10px 10px;">
	<% var prob_order = settings['problem_order'].split(','); %>
	<% for(let i = 0;i < problems.length; i++){ %>
	<%-		include('problem-elm.ejs', { prob: problems[prob_order[i]-1], num: parseInt(i+1) }); %>	
	<% } %>
</div>