<% var box_type = ["Empty", "Ambil Alih", "Double Poin", "Extra Box", "Sedekah Poin", "Sedekah Box", "Skipped"]; %>
<div class="prob-card" id="<%= prob.id %>">
	<div class="prob-card-title" style="background-color: white;">
		<span>
			<strong class="box-number">BOX <%= num %></strong>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<i class="fa fa-cube"></i>
			&nbsp;<%= box_type[prob.type] %>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<i class="fa fa-clock-o"></i>
			&nbsp;<%= Math.floor(prob.time_limit/1000) %> detik
		</span>
	</div>
	<div class="prob-card-body" style="overflow: visible; height: auto; padding-left: 15px">
		<p><%- prob.description %></p>
		<h5><strong>Jawaban:</strong></h5>
		<p><%- prob.answer %></p>
	</div>
</div>