<div class="content-wrapper overlay-wrapper">
	<%- include('../common/content-header.ejs',
		{title: 'Settings', subtitle: 'Configure game settings'}) %>

	<!-- Main Content -->
	<section class="content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <%- include('panel/general') %>
                <%- include('panel/layout') %>
            </div>
            <div class="col-md-6">
                <%- include('panel/game') %>
                <%- include('panel/scoring') %>
                <%- include('panel/team') %>
            </div>
        </div>
		<div class="text-center">
			<button onclick="javascript: submitSettings();" class="btn btn-success">Simpan</button>
			<button onclick="location.reload();" class="btn btn-danger">Reset</button>
        </div>
	</section>
</div>