<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta title="TACCI">
		<link rel="icon" type="image/png" href="/img/favicon.png">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

		<title><%= title %></title>

		<!-- Google Font -->
		<link rel="stylesheet"
		      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

		<!-- Stylesheet -->
		<link rel="stylesheet" href="/css/public.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/shape.semantic.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<style>
			.bg-default {
				background: #fff url('<%= settings['background_box'] %>') no-repeat center !important;
				color: <%= settings['box_fontcolor'] %> !important;
			}
		</style>
	</head>
	<body>
  	<div id="main-board" class="emboh"
			style="background: #fff url('<%= settings['background_board'] %>') no-repeat center">
      <div class="col-lg-8">
  			<div class="main-control text-center">
					<% var probOrder = settings['problem_order'].split(',') %>
					<% var boxType = ["Empty", "Ambil Alih", "Double Poin", "Extra Box", "Sedekah Poin", "Sedekah Box", "Skipped"] %>
  				<% for(let i = 0; i < settings['board_row']; i++){ %>
  					<div class="text-center">
  						<div class="board-box">
  						<% for(let j = 0; j < settings['board_column']; j++){ %>
  						<% 	var real_id = parseInt(i*settings['board_row'] + j + 1) %>
                  <div id="box-<%= real_id %>" class="ui cube shape">
			            	<div class="sides">
    	            		<div class="active side box-<%= settings['board_column'] %>" id="side-0">
                        <div class="side-content"> <div class="center"> 
                          	<h1 style="margin:auto"><%= real_id %></h1>
                        </div> </div>
    	            		</div>
                      <div class="side box-<%= settings['board_column'] %>" id="side-1">
												<div class="side-content"> <div class="center">
													<% var probId = parseInt(probOrder[real_id - 1] - 1) %>
													<%= boxType[problems[probId].type] %>
												</div> </div>
    	            		</div>		
			            	</div>
			            </div>
  						<% } %>
  						</div>
  					</div>
  				<% } %>
  			</div>
  		</div>
  		<div class="col-lg-3">
        <div class="text-center" style="margin-bottom: 25px">
  			  <img src="<%= settings['logo'] %>" height="250px">
        </div>
  			<div class="panel panel-default">
  			  <div class="panel-body timer">
            <i class="fa fa-hourglass-o"></i> &nbsp;&nbsp;
            <h1 id="main_timer-label">00 : 00</h1>
  			  </div>
  			</div>
  			<% var bg = ["bg-blue", "bg-red", "bg-yellow", "bg-green", "bg-purple", "bg-orange"]; %>
  			<% for(let i = 0; i < teams.length; i++){ %>
  				<div class="team-box" id="<%= i + 1 %>">
  					<div class="team-box-icon <%= bg[i] %>" style="opacity: 0.25">
  						<%= String.fromCharCode(64 + parseInt(i + 1)) %>
  					</div>
  					<div class="team-box-content" style="color: #d3d3d3">
  						<span class="team-box-tool">
  							<%= teams[i].score %>
  						</span>
  						<input value="<%= teams[i].name %>" id="team_name-<%= i + 1 %>"
  							class="team-box-title" type="text" readonly>
  						<input value="<%= teams[i].school %>" id="team_school-<%= i + 1 %>"
  							class="team-box-subtitle" type="text" readonly>
  					</div>							
  				</div>
  			<% } %>
  		</div>
    </div>

    <div id="problem-board" class="emboh deactive"
			style="background: #fff url('<%= settings['background_board'] %>') no-repeat center">
      <div class="col-lg-11 text-center" style="height: 100%">
        <div class="panel panel-default" style="width: 225px; margin: 30px auto;">
  		    <div class="panel-body timer">
            <i class="fa fa-hourglass-o"></i> &nbsp;
            <h2 id="problem_timer-label">0.000 s</h2>
  		    </div>
  		  </div>
        <div class="panel panel-default" style="height: 80%">
  		    <div id="problem-body" class="panel-body"></div>
  		  </div>
      </div>
    </div>
  	
    <div id="verdict-board" class="emboh deactive"
			style="background: #fff url('<%= settings['background_board'] %>') no-repeat center">
      <div class="col-lg-12 text-center" style="height: 100%">
        <div class="panel panel-default" style="height: 100%">
  		    <div class="panel-body verdict-body">
						<div>
							<img id="verdict-icon" src="/img/dizzy.svg">
							<h1 id="verdict-label"><strong>SALAH</strong></h1>
						</div>
          </div>
  		  </div>
      </div>
    </div>
		
		<div id="loading-board" class="emboh deactive"
			style="background: #fff url('<%= settings['background_board'] %>') no-repeat center">
			<div class="col-lg-12">
				<div class="text-center">
  				<img src="<%= settings['logo'] %>" height="250px">
      	</div>
				<div class="spinner">
  				<div class="bounce1"></div>
				  <div class="bounce2"></div>
				  <div class="bounce3"></div>
				</div>
			</div>
    </div>

    <script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/shape.semantic.min.js"></script>
		<script src="/js/custom/animation.js"></script>
		<script src="/socket.io-client/dist/socket.io.slim.js"></script>
		<script src="/js/custom/public.js"></script>
	</body>
</html>
