<div class="content-wrapper">
	<%- include('../common/content-header.ejs',
		{title: 'Repositories', subtitle: 'Store all files here'}) %>
	<!-- Main Content -->
	<section class="content container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<%- include('panel/upload.ejs') %>
				<%- include('panel/list.ejs') %>
			</div>
		</div>
	</section>
</div>