<div class="content-wrapper">
	<%- include('../common/content-header.ejs',
		{title: 'Edit Problem', subtitle: ''}) %>
		
	<!-- Main Content -->
	<section class="content container-fluid">
		<a class="btn btn-danger" style="margin-bottom: 10px" href="/admin/problems">
			<i class="fa fa-arrow-left"></i>
			&nbsp;Back to Problems
		</a>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">
					<i class="fa fa-pencil"></i>
					&nbsp; Problem #<%= problem.id %>
				</h3>
			</div>
			<div class="box-body">
				<input id="problem_id" type="text" hidden value="<%= problem.id %>">
				<div class="row">
					<div class="col-lg-2 form-group">
						<label>Box type</label>
						<select class="form-control" id="type">
							<% var box_type = ["Empty", "Ambil Alih", "Double Poin", "Extra Box", "Sedekah Poin", "Sedekah Box", "Skipped"]; %>
							<% for(let i = 0; i < box_type.length; i++){ 						%>
							<% 		if(i === problem.type){ 										%>
										<option value="<%= i %>" selected><%= box_type[i] %> </option>
							<% 		}else{														%>
							 			<option value="<%= i %>"><%= box_type[i] %> </option>
							<% 		}															%>
							<% } 																%>
						</select>
					</div>
					<div class="col-lg-2 form-group">
						<label>Time limit</label>
						<div class="input-group">
							<input id="time_limit" type="number" class="form-control" min="0" value="<%= Math.floor(problem.time_limit / 1000) %>">
							<span class="input-group-addon">seconds</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Question</label>
					<input id="question" type="textarea" class="form-control" value="<%= problem.description %>">
				</div>
				<div class="form-group">
					<label>Answer</label>
					<input id="answer" type="textarea" class="form-control" value="<%= problem.answer %>">
				</div>
			</div>
			<div class="box-footer text-center">
				<button class="btn btn-primary" onclick="javascript: submitProblem();">Save</button>
				<button class="btn btn-default" onclick="location.reload()">Cancel</button>
			</div>
		</div>
	</section>
</div>