<div class="content-wrapper">
	<%- include('../common/content-header.ejs',
		{title: 'Markdown', subtitle: 'Learn how to write using markdown'}) %>

	<!-- Main Content -->
	<section class="content container-fluid">
		<!-- <div class="row">
			<div class="col-lg-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"></h3>
					</div>
					<div class="box-body">
						Tutorial
					</div>
				</div>
			</div>
		</div> -->
	</section>
	<%- include('../common/under-develop.ejs') %>
</div>