<% if(active){ %>
	<li class="treeview active">
<% }else{ %>
	<li class="treeview">
<% } %>
	<a href="">
		<i class="fa <%= icon %>"></i>
		<span><%= title %></span>
		<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
	</a>

	<ul class="treeview-menu">
		<% for(var j = 0; j < child.length; j++){ %>
			<% if(child[j].active){ %>
				<li class="active">
			<% }else{ %>
				<li>
			<% } %>
				<a href="<%= child[j].link %>">
					<i class="fa fa-circle-o"></i>
					<span> <%= child[j].title %> </span>
				</a>
			</li>
		<% } %>
	</ul>
</li>