<div class="content-wrapper overlay-wrapper">
	<%- include('../common/content-header.ejs',
	{title: 'Dashboard', subtitle: 'Start and control the game'}) %>
	
	<!-- Main Content -->
	<section class="content container-fluid">
		<div class="text-center">
			<% if(settings['game_active'] == 0){ %>
				<button id="btn_start" class="btn btn-primary" onclick="startGame();">Start Game</button>
				<button id="btn_stop" class="btn btn-danger" onclick="confirmStopGame();" style="display:none;">Stop Game</button>
			<% }else{ %>
				<button id="btn_start" class="btn btn-primary" onclick="startGame();" style="display:none;">Start Game</button>
				<button id="btn_stop" class="btn btn-danger" onclick="confirmStopGame();">Stop Game</button>
			<% } %>
			<a class="btn btn-default" href="/" target="_blank">Game Board</a>
		</div>
		<br />
		<div class="row">
			<div class="col-lg-9 connectedSortable sortable">
				<%- include('./panel/board.ejs') %>
			</div>
			<div class="col-lg-3 connectedSortable sortable">
				<%- include('./panel/timer.ejs') %>
				<%- include('./panel/turn.ejs') %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 connectedSortable sortable">
				<%- include('./panel/team.ejs') %>				
				<%#- include('./panel/log.ejs') %>
			</div>
			<div class="col-lg-4 connectedSortable sortable">
				<%- include('./panel/score.ejs') %>
			</div>
			<div class="col-lg-4 connectedSortable sortable">
				<%- include('./panel/box.ejs') %>
			</div>
		</div>
	</section>
</div>