/*******************************
          Team Box
*******************************/
.team-box {
    display: block;
    min-height: 60px;
    background: #fff;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 15px;
    border: solid 1px #d2d6de;
}
.team-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 100%;
    width: 60px;
    text-align: center;
    font-size: 20px;
    line-height: 59px;
    background: rgba(0, 0, 0, 0.2);
}
.team-box-icon > img {
    max-width: 100%;
}
.team-box-content {
    padding: 5px 10px;
    margin-left: 60px;
}
.team-box-title {
    width: 75%;
    border: 0;
    outline: 0;
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.team-box-subtitle {
    width: 75%;
    border: 0;
    outline: 0;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.team-box-title:disabled,
.team-box-subtitle:disabled {
    background-color: inherit;
}
.team-box-tool {
    position: relative;
    font-size: 18px;
    float: right;
    top: 13px;
}
/*******************************
Problem Card
*******************************/
.prob-card {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid 1px #ddd;
    display: block;
}
.prob-card-title {
    display: flex;
    padding: 10px 15px;
    text-align: center;
    background-color: #f5f5f5;
    border-bottom: solid 1px #ddd;
}
.prob-card-title > span {
    font-size: 14px;
    margin-right: 5px;
}
.edit-icon {
    right: 20px;
    position: absolute;
    float: right;
}
.prob-card-title .spoiler-desc {
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-out;
}
.prob-card-body {
    padding: 0px 15px 0 35px;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease-out;
}
.prob-card-body .box-info {
    display: flex;
    margin: 10px 0;
}
.prob-card-body .box-info > div {
    min-width: 70px;
    margin-right: 10px;
}
.order-icon {
    max-width: 40px;
    opacity: 0;
    transition: all 0.3s ease-out;
}
@media print{
    
    img {
        page-break-inside: avoid;
        max-width: 700px;
        max-height: 100px;
        width: auto;
        height: auto;
    }
    .prob-card {
        font-size: 12pt !important;
        page-break-inside: avoid;
    }    
    .prob-card-title {
        background-color: white;
    }
    .prob-card-title .spoiler-desc {
        display: none;
    }
    .edit-icon {
        display: none;
    }
    .prob-card-body {
        overflow: visible;
        height: auto;
    }
}
/*******************************
          Board Box
*******************************/
.board-box {
    margin-bottom: 5px;
}
.board-box .box-2, .board-box .box-3, .board-box .box-4, .board-box .box-5, .board-box .box-6, .board-box .box-7, .board-box .box-8, .board-box .box-9, .board-box .box-10 {
    min-width: 100px;
    max-width: 175px;
    min-height: 100px;
    max-height: 175px;
    margin-right: 5px;
    display: inline-block;
    background-color: navy;
    position: relative;
}
.board-box .box-2:before, .board-box .box-3:before, .board-box .box-4:before, .board-box .box-5:before, .board-box .box-6:before, .board-box .box-7:before, .board-box .box-8:before, .board-box .box-9:before, .board-box .box-10:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.board-box .box-2 {
    width: calc((100% - 10px) / 2);
}
.board-box .box-3 {
    width: calc((100% - 2 * 10px) / 3);
}
.board-box .box-4 {
    width: calc((100% - 3 * 10px) / 4);
}
.board-box .box-5 {
    width: calc((100% - 4 * 10px) / 5);
}
.board-box .box-6 {
    width: calc((100% - 5 * 10px) / 6);
}
.board-box .box-7 {
    width: calc((100% - 6 * 10px) / 7);
}
.board-box .box-8 {
    width: calc((100% - 7 * 10px) / 8);
}
.board-box .box-9 {
    width: calc((100% - 8 * 10px) / 9);
}
.board-box .box-10 {
    width: calc((100% - 9 * 10px) / 10);
}
.board-box-content {
    color: white;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*******************************
         Board Control
*******************************/
.board-control .box-body {
    position: relative;
    padding: 0;
    overflow-x: hidden;
}
.board-control .box-tools {
    visibility: hidden;
}
.detail-control-show .detail-control {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.detail-control-show .box-tools {
    visibility: visible;
}

.main-control,
.detail-control {
    min-height: 350px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.main-control {
    width: 100%;
    overflow: auto;
}
.detail-control {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    -webkit-transform: translate(101%, 0);
    -moz-transform: translate(101%, 0);
    -o-transform: translate(101%, 0);
    transform: translate(101%, 0);
}
/*******************************
          Others
*******************************/
.under-develop {
    position: relative;
    text-align: center;
    color: #86878a;
}
.turn-team {
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
}

.colorpicker.colorpicker-2x {
  width: 272px;
}
.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}
.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}
.colorpicker-2x .colorpicker-alpha,
.colorpicker-2x .colorpicker-preview {
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.colorpicker-2x .colorpicker-preview,
.colorpicker-2x .colorpicker-preview div {
  height: 30px;
  font-size: 16px;
  line-height: 160%;
}
.colorpicker-saturation .colorpicker-guide {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin: -5px 0 0 -5px;
}