<div class="content-wrapper">
	<%- include('../common/content-header.ejs',
		{title: 'About', subtitle: 'Information about this application'}) %>
		<!-- Main Content -->
		<section class="content">
		<!-- <div class="row">
			<div class="col-lg-6">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Technologies</h3>
					</div>
					<div class="box-body">
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"></h3>
					</div>
					<div class="box-body">
					</div>
				</div>
			</div>
		</div> -->
	</section>
	<%- include('../common/under-develop') %>
</div>