<% var active_prn = active_id.split('-')[0] %>
<% var helpChild = [{title: 'Control', link: '/admin/tutorial/control', active: (active_id == 'tutorial-control')},
					{title: 'Markdown', link: '/admin/tutorial/markdown', active: (active_id == 'tutorial-markdown')}] %>

<ul class="sidebar-menu" data-widget="tree">
	<li class="header">Main Navigation</li>
	<%- include('menu/default.ejs',
		{title: 'Dashboard', link: '/admin', icon: 'fa-dashboard', active: (active_id == 'dashboard')}) %>
	<%- include('menu/default.ejs',
		{title: 'Settings', link: '/admin/settings', icon: 'fa-gears', active: (active_id == 'setting')}) %>
	<%- include('menu/default.ejs',
		{title: 'Repositories', link: '/admin/repositories', icon: 'fa-file', active: (active_id == 'repository')}) %>
	<%- include('menu/default.ejs',
		{title: 'Problems', link: '/admin/problems', icon: 'fa-database', active: (active_id == 'problem')}) %>
	
	<li class="header">Information</li>
	<%- include('menu/treeview.ejs',
		{title: 'Tutorial', icon: 'fa-book', child: helpChild, active: (active_prn == 'tutorial')}) %>
	<%- include('menu/default.ejs',
		{title: 'About', link: '/admin/about', icon: 'fa-info', active: (active_id == 'about')}) %>
</ul>