<div class="user-panel">
	<div class="pull-left image">
		<img src="<%= user.image %>" class="img-circle" alt="User Image">
	</div>
	<div class="info">
		<p><%= user.fullname %></p>
		<a id="con_status">
			<i class="fa fa-circle text-success"></i>
			<span>Online</span>
		</a>
	</div>	
</div>