<% if(failure == "login"){ %>
	<div id="failure" class="callout callout-danger" role="alert">
		Invalid username or password
	</div>
<% } %>
<% if(failure == "system"){ %>
	<div id="system-error" class="callout callout-warning" role="alert">
		Whoops, something went wrong. Please contact the administrator to ask for help.
	</div>
<% } %>
