<form class="form-signin" method="post" action="/process/auth">
	<img class="form-signin-logo" src="/img/logo.svg" alt="Lorem Ipsum">
	<h1 class="h3">Please sign in</h1>
	
	<%- include('./alert.ejs') %>
	<input type="text" name="red" hidden value="<%= red %>">
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-user" style="width: 12px"></i></span>
		<label for="username" class="sr-only">Username</label>
		<input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required="" autofocus="">
	</div>  
	<div class="input-group">
		<div class="input-group-addon mb-3"><i class="fa fa-lock" style="width: 12px"></i></div>
		<label for="password" class="sr-only">Password</label>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
	</div>
	
	<button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px">Sign in</button>
	<p class="footer">TACCI 1.0</p>
</form>