<div class="content-wrapper">
	<%- include('../common/content-header.ejs',
	{title: 'Profile', subtitle: ''}) %>
	
	<!-- Main Content -->
	<section class="content container-fluid">
		
	</section>
	<%- include('../common/under-develop') %>
</div>