<div class="box board-control" style="border-color: navy">
	<div class="box-header">
		<i class="fa fa-th"></i>
		<h3 class="box-title">Board Control</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" onclick="closeDetailControl();"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<div class="box-body">
		<div class="main-control text-center">
			<% for(let i = 0; i < settings['board_row']; i++){ %>
				<div class="text-center">
					<div class="board-box">
					<% for(let j = 0; j < settings['board_column']; j++){ %>
					<% 	var real_id = parseInt(i*settings['board_row'] + j + 1) %>
							<button id="box-<%= real_id %>" class="box-<%= settings['board_column'] %>" onclick="showDetailControl(<%= real_id %>);">
								<div class="board-box-content">
									<h1 style="margin:auto"><%= real_id %></h1>
								</div>
							</button>
					<% } %>
					</div>
				</div>
			<% } %>
		</div>
		<%- include('./details.ejs') %>
	</div>
</div>