<div class="box box-danger">
	<div class="box-header">
		<i class="fa fa-cube"></i>
		<h3 class="box-title">Box Control</h3>
	</div>
	<div class="box-body form-horizontal">
		<div class="form-group">
			<label for="input_box-number" class="col-sm-3 control-label">Box number</label>  
			<div class="col-sm-8">
				<select id="input_box-number" class="form-control">
					<option value="0" selected hidden>-- Choose box number --</option>
					<% var box_num = settings['board_row'] * settings['board_column']; %>
					<% for(let i = 1; i <= box_num; i++){ %>
						<option value="<%= i %>"><%= i %></option>	
					<% } %>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="input_box-from" class="col-sm-3 control-label">From</label>  
			<div class="col-sm-8">
				<input type="text" class="form-control" id="input_box-from-label" readonly>
				<input type="text" id="input_box-from" readonly hidden>
			</div>
		</div>
		<div class="form-group">
			<label for="input_box-to" class="col-sm-3 control-label">To</label>  
			<div class="col-sm-8">
				<select id="input_box-to" class="form-control">
					<option value="0">None</option>
					<% for(let i = 0; i < teams.length; i++){ %>
						<option value="<%= i + 1 %>">
							<%= String.fromCharCode(64 + parseInt(i + 1)) %>
							-
							<%= teams[i].name %>
						</option>
					<% } %>
				</select>
			</div>
		</div>
	</div>
	<div class="box-footer">
		<button class="btn btn-flat btn-default" onclick="resetInputBox();">Cancel</button>
		<button class="btn btn-flat btn-success pull-right" onclick="saveInputBox();">Save</button>
	</div>
</div>