<div class="detail-control">
	<div>
		<div class="col-lg-4 board-box text-center">
			<div class="ui cube shape">
				<div class="sides">
    				<div class="active side bg-default" id="side-0">
    					<div class="side-content"> <div class="center">  </div> </div>
    				</div>
    				<div class="side bg-default" id="side-1">
            			<div class="side-content"> <div class="center">  </div> </div>
    				</div>
    				<div class="side bg-default" id="side-2">
            			<div class="side-content"> <div class="center"> Opening <br/>problem </div> </div>    			
					</div>
				</div>
			</div>
			<br /><br />
			<button class="btn btn-default" id="detail_prev-slide">
				<i class="fa fa-arrow-left"></i>
				&nbsp;&nbsp;Prev
			</button>
			<button class="btn btn-primary" id="detail_next-slide">
				Next&nbsp;&nbsp;
				<i class="fa fa-arrow-right"></i>
			</button>
		</div>
		<div class="col-lg-4 form-horizontal">
			<div class="form-group">
				<h3>Description</h3>
				<button class="btn btn-default" id="detail_btn-show-desc">
					Show
				</button>
				<button class="btn btn-warning" id="detail_btn-hide-desc" style="display: none;">
					Hide
				</button>
			</div>
			<div class="form-group">
				<h3>Verdict</h3>
				<button class="btn btn-success" id="detail_btn-correct-ans">
					<i class="fa fa-check"></i>
				</button>
				<button class="btn btn-danger" id="detail_btn-wrong-ans">
					<i class="fa fa-times"></i>
				</button>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="form-group">
				<h3>Timer</h3>
				<div class="btn-group text-center">
					<h2 id="detail_timer-label"></h2>
					<br />
					<button class="btn btn-app bg-blue" id="detail_btn-start-timer">
						<i class="fa fa-play"></i>
						Start
					</button>
					<button class="btn btn-app" id="detail_btn-pause-timer" style="display: none">
						<i class="fa fa-pause"></i>
						Pause
					</button>	
					<button class="btn btn-app" id="detail_btn-reset-timer">
						<i class="fa fa-repeat"></i>
						Reset
					</button>
				</div>
			</div>
		</div>
	</div>
</div>