<div class="box box-warning">
	<div class="box-header">
		<i class="fa fa-file-code-o"></i>
		<h3 class="box-title">Game Logs</h3>
		<div class="box-tools pull-right">
            <ul id="log_pagination" class="pagination pagination-sm inline">
                <li class="pagination-child"><a id="log_page-prev" href="">«</a></li>
				<li class="pagination-child"><a id="log_page-1" href="">1</a></li>
				<li class="pagination-child"><a id="log_page-dot">...</a></li>	
				<li class="pagination-child"><a id="log_page-next" href="">»</a></li>
            </ul>
        </div>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin" id="log_table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Time</td>
						<td>Description</td>
					</tr>
					<tr>
						<td>Time</td>
						<td>Description</td>
					</tr>
					<tr id="log_action-3">
						<td>Time</td>
						<td>Description</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="box-footer">
		<button id="log_btn-undo" class="btn btn-flat btn-primary">Undo action</button>
		<button id="log_redo-undo" class="btn btn-flat btn-default pull-right">Redo action</button>
	</div>
</div>