<div class="box box-success">
	<div class="box-header">
		<i class="fa fa-bar-chart-o"></i>
		<h3 class="box-title">Score Control</h3>
	</div>
	<div class="box-body form-horizontal">
		<div class="form-group">
			<label for="input_score-team" class="col-sm-3 control-label">Team</label>  
			<div class="col-sm-8">
				<select id="input_score-team" class="form-control">
					<option value="0" selected hidden>-- Choose a team --</option>
					<% for(let i = 0; i < teams.length; i++){ %>
						<option value="<%= i + 1 %>">
							<%= String.fromCharCode(64 + parseInt(i+1)) %>
							-
							<%= teams[i].name %>
						</option>
					<% } %>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="input_score-old" class="col-sm-3 control-label">Old score</label>  
			<div class="col-sm-8">
				<input type="text" class="form-control" id="input_score-old" readonly disabled>
			</div>
		</div>
		<div class="form-group">
			<label for="input_score-new" class="col-sm-3 control-label">New score</label>  
			<div class="col-sm-8">
				<input type="text" class="form-control" id="input_score-new">
			</div>
		</div>
	</div>
	<div class="box-footer">
		<button class="btn btn-flat btn-default" onclick="resetInputScore();">Cancel</button>
		<button class="btn btn-flat btn-success pull-right" onclick="saveInputScore();">Save</button>
	</div>
</div>