<div class="box box-info">
	<div class="box-header">
		<i class="fa fa-list-ol"></i>
		<h3 class="box-title">Team Score</h3>
	</div>
	<div class="box-body">
		<% var bg = ["bg-blue", "bg-red", "bg-yellow", "bg-green", "bg-purple", "bg-orange"]; %>
		<% for(let i = 0; i < teams.length; i++){ %>
			<div class="team-box" id="<%= i + 1 %>">
				<div class="team-box-icon <%= bg[i] %>">
					<%= String.fromCharCode(64 + parseInt(i + 1)) %>
				</div>
				<div class="team-box-content">
					<span class="team-box-tool" style="font-size: 20px; top: 10px;">
						<%= teams[i].score %>
					</span>
					<input value="<%= teams[i].name %>" id="team_name-<%= i + 1 %>"
						class="team-box-title" type="text" readonly>
					<input value="<%= teams[i].school %>" id="team_school-<%= i + 1 %>"
						class="team-box-subtitle" type="text" readonly>
				</div>							
			</div>
		<% } %>
	</div>
</div>