<div class="box box-warning">
	<div class="box-header">
		<i class="fa fa-hourglass"></i>
		<h3 class="box-title">Timer</h3>
	</div>
	<div class="box-body text-center">
		<h2 style="margin-top:0; margin-bottom: 20px" id="label_main-timer">00 : 00 : 00</h2>
		<div class="btn-group">
			<button class="btn btn-app bg-blue" id="btn_start-main-timer" onclick="startMainTimer()">
				<i class="fa fa-play"></i>
				Start
			</button>
			<button class="btn btn-app bg-blue" id="btn_pause-main-timer" style="display: none;" onclick="pauseMainTimer()">
				<i class="fa fa-pause"></i>
				Pause
			</button>	
			<button class="btn btn-app" id="btn_reset-main-timer" onclick="resetMainTimer()">
				<i class="fa fa-repeat"></i>
				Reset
			</button>
		</div>
	</div>
</div>