<div class="box">
	<div class="box-header">
		<i class="fa fa-gamepad"></i>
		<h3 class="box-title">Game Turn</h3>
	</div>
	<div class="box-body text-center">
		<div class="turn-team">
			<h1 style="margin: auto;" id="turn_team-label"></h1>
		</div>
		<h4><strong>Last Box</strong></h4>
		<span id="turn_last-box"></span>
	</div>
	<div class="box-footer text-center">
		<button class="btn btn-flat btn-primary" onclick="doNextTurn()">Next turn</button>
	</div>
</div>